@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Porkh';
  src: url('./assets/fonts/PORKH___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('./assets/fonts/Hind-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fffdfa;
}

.icon-container {
  transition: color 0.3s;
}

.group:hover .icon {
  @apply text-stone-800;
  @apply hover:animate-spin;
}

.icon {
  @apply text-pink-300;
}

.hover-border:hover {
  border-color: #fe671e;
}
